@tailwind components;
@tailwind utilities;

@layer components {
    .buttonPrimary {
        color: #2574A9;
        @apply bg-white;
        @apply font-bold rounded-md text-xs;
        @apply transition duration-300;
        @apply xs:p-5 xs:mx-4;
        @apply md:py-3 md:px-3;
        
    }

    .buttonSecondary {
        background-color: #2574A9;
        @apply text-white;
        @apply font-bold rounded-md text-xs;
        @apply transition duration-300;
        @apply xs:px-5 xs:py-2 xs:mx-1 xs:w-full xs:ml-4;
        @apply md:py-3 md:px-2;
    }

    .mobileButton {
        background-color: #1E8BC3;
        @apply flex-col flex items-center justify-center;
        @apply mt-5 mr-4 rounded-md;
        @apply h-8 w-10;
        @apply sm:flex;
        @apply md:hidden;
    }
}

@layer utilities {
    @variants hover, focus {
        .buttonPrimary:hover {
            background-color: #1E8BC3;
            color: theme("colors.white")
        }
    }
}